<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body class="<%= classname %>">
        <% include partials/nav.ejs %>
        
        <main class="container">
        <div class="starter-template">
            <h1><%= h1 %></h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

            <!-- Conditional partial because if typeof var users defined in app.js -->
            <% if (typeof (users) !== 'undefined') { %>
                <ul>
                    <% for(var i=0; i<users.length; i++) { %>
                        <li><%= users[i] %></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        </main>

        <% include partials/footer.ejs %>
        <% include partials/javascripts.ejs %>
    </body>
</html>